<div>
  <div class="row">
    <div class="col-12 text-center"><h1>So, What's your Wish?</h1></div>
  </div>

  <%= form_for [@user, @wish] do |form| %>
    <div class="errors my-3 text-danger">
      <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      <% end %>
      <% if @wish.errors.any? %>
        <% @wish.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      <% end %>
      <%= alert %>
    </div>

    <div class="new-wish-instr col-md-8 mx-auto border rounded p-3 text-justify">
      <h5>A couple of quid pro quos...</h5>
      <div>#1: won't kill anybody.</div>
      <div>#2: won't make anybody fall in love with anybody else.</div>
      <div>#3: won't bring people back from the dead.</div>
    </div>

    <div class="row col-md-8 my-3 mx-auto">
      <div class="mx-auto">wishes left: <%= @user.wish_count %></div>
    </div>

    <div class="row col-md-8 my-3 mx-auto">
      <%= form.label :wish_statement, "I wish: ", class: "col-4 mx-auto" %>
      <%= form.text_area :wish_statement, class: "col-8 mx-auto" %>
    </div>

    <div class="row mx-auto">
      <%= form.submit "Grant me", class: "mx-auto", data: { confirm: "No substitutions, exchanges or refunds. Is this your final statement?" } %>
    </div>
  <% end %>
</div>
