<div>
  <div class="row"><div class="col-12 my-2 text-center h1">Who summons me?</div></div>
  <div class="row"><div class="col-12 my-2 text-center">Oh you didn't receive confirmation instructions!</div></div>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="row my-2">
      <div class="col-md-8 col-10 row mx-auto">
        <%= f.label :email, class: "col-4" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-8", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>
    </div>
    <div class="row">
      <%= f.submit "Resend confirmation instructions", class: "mx-auto" %>
    </div>
  <% end %>
</div>
