<div class="my-3">
  <%= form_with model: @user do |form| %>
    <% if @user.errors.any? %>
    <div class="col-md-8 col-10 row mx-auto">
          <div class="errors my-3 text-danger">
          <% @user.errors.full_messages.each do |message| %>
            <div><%= message %></div>
          <% end %>
      </div>
    </div>
    <% end %>

    <div class="row my-2">
      <div class="col-md-8 col-10 row mx-auto">
        <%= form.label :name, class: "col-4" %>
        <%= form.text_field :name, class: "col-8" %>
      </div>
    </div>

    <div class="row my-2">
      <div class="col-md-8 col-10 row mx-auto">
        <%= form.label :email, class: "col-4" %>
        <%= form.email_field :email, class: "col-8" %>
      </div>
    </div>

    <div class="row">
      <%= form.submit submit_text, class: "mx-auto" %>
    </div>
  <% end %>
</div>
