<div>
  <div class="row"><div class="col-12 my-2 text-center h1">Oh master!</div></div>
  <div class="row"><div class="col-12 my-2 text-center">You want to reset your password, I'll guide you!</div></div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="row my-2">
      <div class="col-md-8 col-10 row mx-auto">
        <%= f.label :password, "New password", class: "col-4" %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "col-8" %>
        <% if @minimum_password_length %>
          <em class="col-12">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-md-8 col-10 row mx-auto">
        <%= f.label :password_confirmation, "Confirm new password", class: "col-4" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-8" %>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-md-8 col-10 row mx-auto">
        <%= f.label :current_password, class: "col-4" %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "col-8" %>
      </div>
    </div>

    <div class="row">
      <%= f.submit "Change my password", class: "mx-auto" %>
    </div>
  <% end %>
</div>
