<div>
  <div class="row"><div class="col-12 my-2 text-center h1">Who summons me?</div></div>
  <div class="row"><div class="col-12 my-2 text-center">Identify yourself!</div></div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row my-2">
      <div class="col-md-8 col-10 row mx-auto">
        <%= f.label :email, class: "col-4" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-8" %>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-md-8 col-10 row mx-auto">
        <%= f.label :password, class: "col-4" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "col-8" %>
      </div>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="row my-2">
        <div class="col-md-8 col-10 row mx-auto">
          <div class="col-4"></div>
          <div class="col-8">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: "mb-0" %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-8 col-10 row mx-auto">
          <%= link_to "Forgot Password?", new_password_path(resource_name), class: "mx-auto" %>
          <%= f.submit "I want to meet Genie!", class: "mx-auto" %>
      </div>
    </div>
  <% end %>
</div>
